html{
    background-image:url(images/linear-gradient.png);
    background-repeat: repeat-y;
    background-size: 2000px;
    font-family: 'IBM Plex Serif', serif;
    
    color: #CFD;
}

body{
    width: 50%;
    min-width: 60%;
    margin: 0 auto;
    padding: 70px;
    background: #121543;
    border:15px solid #ffc90e;
    padding: 15px;
    border-radius: 3%;
    box-shadow: 5px 5px 10px black;

}

img{
    height: 250px;
    width: 500px;
}

#ThePic{
    height: 250;
    width: auto;
}


a:link {
    color: red;
  }


  a:visited {
    color: green;
  }

  h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#121543, #ffc90e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    background: -webkit-linear-gradient(#121543, #ffc90e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .box{
    margin: 2px;
    padding: 5px;
    border: 2px solid #000;
    height: 25px;
    width: 650px;
    user-select: none;
}